p {
    color: green;
}
#titol {
    font-size: 2.4em;
    text-decoration: underline;
}
.text-important {
    color: red;
    font-weight: bold;
}
.vermell {
    color: red;
}
.gran {
    font-size: 24px;
}
.negreta {
    font-weight: bold;
}
.subratllat {
    text-decoration: underline;
}
a:hover {
    color: red;
}
p::before {
    content: "👉 ";
}
p::after {
    content: " ✔";
    color: green;
}